[core]
	autocrlf = false
	safecrlf = true
[user]
	name = Bryan Bailliache
	email = bryan.bailliache@gmail.com

[alias]
	ci = commit -av
	co = checkout
	st = status
	praise = blame
	br = branch
	df = diff
	lg = log -p
	spull = !git svn fetch && git svn rebase -l
	spush = !git svn dcommit
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	g =  log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	v = !vim $

[pager]
	color = true

[status]
	color = autoaz
#[diff]
#	tool = winmerge
#[difftoool "winmerge"]
#	cmd = winmerge.sh \"$LOCAL\" \"$REMOTE\"
#[difftool]
#	prompt = false

[push]
# Push current branch even if you've never pushed it before
	default = current
[help]
	format = html
#[merge]
#	tool = TortoiseMerge
[http]
	proxy =
